/*------------------------------contact form common style-------------------*/
.contact_form .abform_area .abinput_group {
    margin-bottom: 20px;
    width: 49.1%;
    position: relative;
    height: 50px;
    background: #fff;
}
.contact_form .abform_area .abinput_group.msg{
    width: 100%;
    clear: both;
    height: 150px;
    margin-bottom: 40px;
}
.contact_form .abform_area .abinput_group > input {
    border: medium none;
    height: 100%;
    padding: 10px 22px;
    width: 100%;
    background: none;
}
.contact_form .abform_area .abinput_group > textarea{
    border: none;
    resize: none;
    width: 100%;
    padding: 10px 22px;
    margin-bottom: 0;
    height: 100%;
    background: none;
}
.contact_form .abform_area button{
    border: none;
    height: 50px;
}



/*--------------contact form style-1------------------*/
.contact_form1 {
    background: #f6f6f6;
    padding: 90px 0 90px;
}
.contact_form1 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form1 .abform_area .abinput_group > textarea,
.contact_form1 .abform_area .abinput_group > input {
    color: #444;
}
.contact_form1 .abform_area .abinput_group > textarea:focus,
.contact_form1 .abform_area .abinput_group > input:focus {
    padding-left: 0;
}
.contact_form1 .abform_area button {
    letter-spacing: 1px;
    padding: 2px 45px 0;
    background: #292929;
}
.contact_form1 .abform_area button:hover {
    background: #027aec;
}
.contact_form1 .abform_area .abinput_group:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background: #292929;
}
.contact_form1 .abform_area .abinput_group.input_effect:before{
    width: 100%;
}
.contact_form1 .abform_area .abinput_group.input_effect{
    background: none;
}


/*--------------contact form style-2------------------*/
.contact_form2 {
    background: #1f1f1f;
    padding: 90px 0 90px;
}
.contact_form2 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form2 .abform_area .abinput_group > textarea,
.contact_form2 .abform_area .abinput_group > input {
    color: #878787;
    border: 1px solid #303030;
}
.contact_form2 .abform_area .abinput_group > textarea:focus,
.contact_form2 .abform_area .abinput_group > input:focus {
    border-color: #b7372d;
}
.contact_form2 .abform_area button {
    letter-spacing: 1px;
    padding: 2px 45px 0;
    background: #f44437;
}
.contact_form2 .abform_area button:hover {
    background: #de2011;
}
.contact_form2 .abform_area .abinput_group{
    background: none;
}


/*--------------contact form style-3------------------*/
.contact_form3 {
    padding: 90px 0 90px;
}
.contact_form3 .wrapper {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 70px 70px 60px;
}
.contact_form3 .abform_area .abinput_group label {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    cursor: text;
    -webkit-transform: translateY(38px);
    -moz-transform: translateY(38px);
    -ms-transform: translateY(38px);
    -o-transform: translateY(38px);
    transform: translateY(38px);
}
.contact_form3 .abform_area .abinput_group.input_effect label{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.contact_form3 .abform_area .abinput_group {
    width: 48.3%;
    height: auto;
    background: none;
}
.contact_form3 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form3 .abform_area .abinput_group > input{
    height: 50px
}
.contact_form3 .abform_area .abinput_group.msg {
    height: auto;
}
.contact_form3 .abform_area .abinput_group.msg textarea {
    height: 150px;
    padding-right: 90px !important;
}
.contact_form3 .abform_area .abinput_group > textarea,
.contact_form3 .abform_area .abinput_group > input {
    color: #333333;
    padding-left: 0;
    border-bottom: 1px solid #d2d2d2;
}
.contact_form3 .abform_area button {
    background: transparent;
    bottom: 60px;
    color: #333;
    font-size: 80px;
    height: auto;
    position: absolute;
    right: 0;
}
.contact_form3 .abform_area button:hover {
    color: #027AEC;
}



/*--------------contact form style-4------------------*/
.contact_form4 {
    background: url(../../images/contact-bg1.jpg) no-repeat center center / cover;
    padding: 90px 0 90px;
}
.contact_form4 .overlay{
    background: rgba(0,0,0,0.8);
}
.contact_form4 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form4 .abform_area .abinput_group {
    border: 1px solid #303030;
     background: none;
}
.contact_form4 .abform_area .abinput_group:before {
    color: #878787;
    font-family: "Ionicons";
    font-size: 18px;
    left: 16px;
    position: absolute;
    top: 11px;
}
.contact_form4 .abform_area .abinput_group.name:before{content: "\f47d";}
.contact_form4 .abform_area .abinput_group.email:before{content: "\f422";}
.contact_form4 .abform_area .abinput_group.subject:before{content: "\f41b";}
.contact_form4 .abform_area .abinput_group.phone:before{content: "\f4b8";}
.contact_form4 .abform_area .abinput_group.msg:before{content: "\f3f9";}

.contact_form4 .abform_area .abinput_group > textarea,
.contact_form4 .abform_area .abinput_group > input {
    color: #878787;
    padding-left: 40px;
}
.contact_form4 .abform_area .abinput_group.input_effect,
.contact_form4 .abform_area .abinput_group.input_effect {
    border-color: #b7372d;
}
.contact_form4 .abform_area button {
    background: #f44437;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 2px 45px 0;
}
.contact_form4 .abform_area button:hover {
    background: #de2011;
}




/*--------------contact form style-5------------------*/
.contact_form5 {
    padding: 90px 0 90px;
}
.contact_form5 .abform_area .abinput_group label {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
}
.contact_form5 .abform_area .abinput_group {
    width: 48.6%;
    height: auto;
    background: none;
}
.contact_form5 .abform_area .abinput_group:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #f9f9f9;
    width: 100%;
    height: 50px;
    border-radius: 3px;
}
.contact_form5 .abform_area .abinput_group.msg:before{
    height: 150px;
}
.contact_form5 .abform_area .abinput_group.input_effect:before {
    height: 2px;
}
.contact_form5 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form5 .abform_area .abinput_group > input {
    height: 50px;
}
.contact_form5 .abform_area .abinput_group.msg {
    height: auto;
}
.contact_form5 .abform_area .abinput_group.msg textarea {
    height: 150px;
}
.contact_form5 .abform_area .abinput_group > textarea,
.contact_form5 .abform_area .abinput_group > input {
    color: #333333;
    padding-left: 0;
    z-index: 2;
    position: relative;
    background: transparent;
}
.contact_form5 .abform_area button {
    background: #027aec;
    letter-spacing: 1px;
    padding: 2px 45px 0;
}
.contact_form5 .abform_area button:hover {
    background: #0953c5;
}



/*--------------contact form style-6------------------*/
.contact_form6 {
    background: #1f1f1f;
    padding: 90px 0 90px;
}
.contact_form6 .abform_area .abinput_group {
    width: 48.9%;
    background: none;
}
.contact_form6 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form6 .abform_area .abinput_group > textarea,
.contact_form6 .abform_area .abinput_group > input {
    color: #878787;
    border-bottom: 1px solid #444444;
    padding-left: 0;
}
.contact_form6 .abform_area .abinput_group:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #0fba97;
}
.contact_form6 .abform_area .abinput_group.input_effect:before{
    width: 100%;
}
.contact_form6 .abform_area button {
    letter-spacing: 1px;
    padding: 2px 45px 0;
    background: #0fba97;
}
.contact_form6 .abform_area button:hover {
    background: #008c69;
}



/*--------------contact form style-7------------------*/
.contact_form7 {
    background: #f6f6f6;
    padding: 90px 0 90px;
}
.contact_form7 .abform_area .abinput_group {
    width: 48.9%;
    background: none;
}
.contact_form7 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form7 .abform_area .abinput_group.msg{
    margin-bottom: inherit;
}
.contact_form7 .abform_area .abinput_group > textarea,
.contact_form7 .abform_area .abinput_group > input {
    color: #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    padding-left: 0;
}
.contact_form7 .abform_area .abinput_group:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #3e4c5e;
}
.contact_form7 .abform_area .abinput_group.input_effect:before{
    width: 100%;
}
.contact_form7 .abform_area button {
    letter-spacing: 1px;
    padding: 2px 25px 0;
    background: #252531;
}
.contact_form7 .abform_area button i{
    margin-left: 10px;
}
.contact_form7 .abform_area button:hover {
    background: #027aec;
}

.contact_form7 .captcha li {
    vertical-align: middle;
    margin-right: 30px;
}
.contact_form7 .captcha li:last-child {
    margin-right: 0px;
}
.contact_form7 .enterCaptcha,
.contact_form7 .seeCaptcha {
    border: 1px solid #d1d1d1;
    height: 50px;
}
.contact_form7 .enterCaptcha input{
    color: #bab5b5;
    background: none;
    height: 100%;
    border:none;
    text-align: center;
    padding: 5px;
}



/*--------------contact form style-8------------------*/
.contact_form8 {
    padding: 90px 0 90px;
}
.contact_form8 .abform_area .abinput_group:nth-child(even) {
    margin-left: 20px;
}
.contact_form8 .abform_area .abinput_group {
    border: 1px solid #eeeeee;
    background: none;
}
.contact_form8 .abform_area .abinput_group:before {
    color: #9e9e9e;
    font-family: "Ionicons";
    font-size: 18px;
    left: 16px;
    position: absolute;
    top: 11px;
}
.contact_form8 .abform_area .abinput_group.name:before{content: "\f47d";}
.contact_form8 .abform_area .abinput_group.email:before{content: "\f422";}
.contact_form8 .abform_area .abinput_group.subject:before{content: "\f41b";}
.contact_form8 .abform_area .abinput_group.phone:before{content: "\f4b8";}
.contact_form8 .abform_area .abinput_group.msg:before{content: "\f3f9";}

.contact_form8 .abform_area .abinput_group > textarea,
.contact_form8 .abform_area .abinput_group > input {
    color: #878787;
    padding-left: 40px;
}
.contact_form8 .abform_area .abinput_group.input_effect,
.contact_form8 .abform_area .abinput_group.input_effect {
    border-color: #0fba97;
}
.contact_form8 .abform_area button {
    background: #0fba97;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 2px 45px 0;
}
.contact_form8 .abform_area button:hover {
    background: #008C69;
}







/*-------------------------------responsive style-----------------------------*/
@media (max-width: 1199px){
    
    /*--------common-style----------*/
    .contact_form .abform_area .abinput_group {
        width: 48.9%;
    }
    
    /*-------style-3------*/
    .contact_form3 .abform_area .abinput_group {
        width: 48.4%;
    }
    
    
    /*-----style-5-------*/
    .contact_form5 .abform_area .abinput_group {
        width: 48.6%;
    }
    
    /*-----style-6-------*/
    .contact_form6 .abform_area .abinput_group {
        width: 48.7%;
    }
    
    /*-----style-7-------*/
    .contact_form7 .abform_area .abinput_group {
        width: 48.6%;
    }
    
    
    
}/*---end 992-1199px media query----*/


@media (max-width: 991px){
    /*--------common-style----------*/
    .contact_form .abform_area .abinput_group {
        width: 48.6%;
    }
    
    /*-------style-3-------*/
    .contact_form3 .wrapper {
        padding: 60px 50px 50px;
    }
    .contact_form3 .abform_area .abinput_group {
        width: 48.3%;
    }
    
    /*-------style-*/
    
    
}/*---end 768-991px media query----*/


@media (max-width: 767px){
    /*--------common-style----------*/
    .contact_form h3.contact_title {
        text-align: center;
    }
    .contact_form .abform_area .abinput_group {
        float: none !important;
        width: 100%;
    }
    .contact_form .abform_area .abinput_group:nth-child(2n) {
        margin-left: 0;
    }
    .contact_form .abform_area {
        margin: 0 auto;
        max-width: 450px;
    }
    
    
    /*-----style-3-------*/
    .contact_form3 .wrapper {
        padding: 50px 30px;
    }
    
    /*-----style-7-------*/
    .contact_form7 .captcha li {
        margin-bottom: 15px;
        margin-right: 15px;
    }
    
    
}/*---end 480-767px media query----*/


@media (max-width: 479px){
    
    /*------style-3------*/
    .contact_form3 .abform_area button {
        bottom: 40px;
        font-size: 50px;
    }
    .contact_form3 .abform_area .abinput_group.msg textarea {
        padding-right: 50px !important;
    }
    
    
}/*---end 300-489 media query----





















