/*-----------lightbox common style-----------------*/
.lightbox_style .single_img{
    overflow: hidden;
    margin-bottom: 30px;
}
.lightbox_style .single_img img{
    width: 100%;
}
.lightbox_style .single_img .hoverlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
}
.lightbox_style .single_img:hover .hoverlay {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.lightbox_style .single_img .hoverlay > a {
    background: #fff;
    border-radius: 100%;
    color: #333;
    font-size: 21px;
    height: 35px;
    padding: 5px;
    text-align: center;
    width: 35px;
}




/*-------------------------------responsive style-----------------------------*/
@media (max-width: 1199px){}/*---end 992-1199px media query----*/


@media (max-width: 991px){}/*---end 768-991px media query----*/


@media (max-width: 767px){
    
    /*-----non necessery*/
    .shortcode_section_title h3 {
        text-align: center;
    }
    
    
    /*.lightbox_style .container {
        max-width: 450px;
    }*/
    
}/*---end 480-767px media query----*/


@media (max-width: 479px){}/*---end 300-489 media query----*/











